<main>
  <div class="nav_bar">
    <ul>
      <li><a  class="active" href="">Acceuil</a></li>
      <li><a href="">Nos Logiciels</a></li>
      <li><a href="">Prix</a></li>
      <li><a href="">Réferences</a></li>
      <li><a href="">Tutoriels</a></li>
    </ul>
  </div>
  
  <div class="haut_page">
    <div class="logo">
      <img src="../assets/images/index-logoubilab-7D8A8BA2-CB53-4CE9-82FB-29B9B15F5905@2x.png" alt="">
        <h1>Ublilab</h1>
    </div>
  </div>
  

  <div class="bas_page">
    <div class="pic">
      <h2>Au coeur des échanges entre <br> le laboratoire et les professionnels de santé.</h2>
      <img src="../assets/images/index-illusgradient-DB44CF17-B2CE-4619-B824-59518A6A80C6@2x.png" alt="">
    </div>
  </div>

  <div class="icone">
    <img src="../assets/images/message-regular-24.png" alt="">
  </div>
</main>
<router-outlet></router-outlet>